body {
    background-color: #DEDFE4;
}

input {
    margin: 0;
}

#header {
    font-size: 48px;
    font-family: 'Segoe Script', sans-serif;
    text-align: center; 
    font-weight: 800;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#drawing-board {
    width: 960px;
    height: 800px;
    background-color: #CC0000;
    border-color: #800000;
    border-style: solid;
    border-width: 8px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 48px;
}

#canvas {
    width: 580px;
    height: 580px;
    background-color: white;
    border-color: #E5E4E2;
    border-style: solid;
    border-width: 4px;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
}

#option-container {
    width: 800px;
    height: 120px;
    background-color: white;
    border-color: #800000;
    border-style: solid;
    border-width: 4px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid-value-display {
    font-size: 24px;
    font-family:'Segoe UI', sans-serif;
}